body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(180deg, #f4f4f4, #e9e9e9);
}

/* ========================= */
/* HEADER */
/* ========================= */

header{
    background-color:rgb(71, 61, 204);
    color:white;
    padding:20px;
    text-align:center;
}

/* ========================= */
/* NAV */
/* ========================= */

nav{
    background-color:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

/* ========================= */
/* CENTRALIZAÇÃO (SÓ CADASTRO) */
/* ========================= */

.container{
    min-height: calc(100vh - 140px);

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

/* ========================= */
/* LISTA DE PETS */
/* ========================= */

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.card{
    background-color:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    text-align:center;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    margin-top:15px;
}

.card p{
    margin-top:10px;
}

.card button{
    background-color:#ff914d;
    color:white;
    border:none;
    padding:12px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

.card button:hover{
    background-color:#e6762f;
}

/* ========================= */
/* FORMULÁRIO (CADASTRO) */
/* ========================= */

form{
    width:100%;
}

/* CARD DO CADASTRO */
.banner .card{
    width:400px;
    padding:25px;
    background-color:white;
    border-radius:12px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.2);

    display:flex;
    flex-direction:column;
    align-items:center;
}

/* INPUTS */
input,
textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

textarea{
    height:120px;
    resize:none;
}

input[type="file"]{
    background-color:white;
}

/* BOTÕES */
button{
    background-color:#ff914d;
    color:white;
    border:none;
    padding:15px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    width:100%;
    margin-top:15px;
}

button:hover{
    background-color:#e6762f;
}